<li class="left clearfix">
  <span class="chat-img1 pull-left round-image-30">
    <%= image_tag message.user.avatar.url(:thumb) %>
  </span>
  <div class="chat-body1 clearfix">
    <p><%= message.body %></p>
    <div class="chat_time pull-right">
      <%= fa_icon('clock-o', class: 'fa') %>
    	<small><%= message.created_at.strftime("%I:%M%p %B %d, %Y") %></small>
    </div>
  </div>
</li>