.member_list .chat-body {
   margin-left: 47px;
   margin-top: 0;
   }
.top_nav {
   overflow: visible;
   }
.member_list .contact_sec {
   margin-top: 3px;
   }
.member_list li {
   padding: 6px;
   }
.member_list ul {
   border: 1px solid #dddddd;
   }
.chat-img img {
   height: 34px;
   width: 34px;
   }
.member_list li {
   border-bottom: 1px solid #dddddd;
   padding: 6px;
   }
.member_list li:last-child {
   border-bottom:none;
   }
.member_list {
   width: 100%;
   height: 600px;
   overflow-x: hidden;
   overflow-y: auto;
   }
.sub_menu_ {
  background: #e8e6e7 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}
.sub_menu_ {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}
.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.new_message_head {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  font-size: 13px;
  font-weight: 600;
  padding: 18px 10px;
  width: 100%;
}
.message_section {
  border: 1px solid #dddddd;
  background-color: #f5f3f3;
}
.chat_area {
  float: left;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  background-color: white;
}
.chat_area li {
  padding: 14px 14px 0;
}
.chat_area li .chat-img1 img {
  height: 40px;
  width: 40px;
}
.chat_area .chat-body1 {
  margin-left: 50px;
}
.chat-body1 p {
  background: #f5f3f3 none repeat scroll 0 0;
  padding: 10px;
}
.chat_area .admin_chat .chat-body1 {
  margin-left: 0;
  margin-right: 50px;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}
.message_write {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
}

.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}

.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}
.member_list li:hover {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}
.chatroom-header {
  margin-top: 10px;
}
.chatroom-members {
  margin-top: 10px;
  margin-bottom: 0;
}
.list-unstyled a {
  text-decoration: none;
}

.btn.btn-sm {
  margin-top: 8px;
  margin-right: 4px;
}

.inbox {
  margin-right: 10px;
}